@import "./typography.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(
    0deg,
    rgba(2, 11, 22, 1) 0%,
    rgba(6, 32, 65, 1) 100%
  );
}

.animatedlogo {
  position: relative;
}

.animatedlogo:before {
  content: "";
  position: absolute;
  width: 22.5vw;
  height: 4px;
  background-color: #ff4d5a;
  animation: line 3s alternate 1;
  animation-fill-mode: forwards;
  border-radius: 5px;
}

.rowdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger {
  z-index: 999;
  margin-left: 5vw;
}

#maincontent {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mooncontent {
  position: fixed;
  top: -20vh;
  right: -10vh;
  height: 140vh;
  width: 140vh;
}

#moonring,
#stars {
  height: 140vh;
  width: 140vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#moon,
#portfolio,
#clouds {
  height: 56vh;
  width: 56vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto auto auto;
}

#portfolio,
#clouds {
  height: fit-content;
  width: fit-content;
  color: #ff4d5a;
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0;
  }
  70% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0.5);
  }
}

@keyframes text {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
