@import "./typography.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: linear-gradient(
    0deg,
    rgba(2, 11, 22, 1) 0%,
    rgba(6, 32, 65, 1) 100%
  );
}

.animatedlogo {
  position: relative;
}

.animatedlogo:before {
  content: "";
  position: absolute;
  width: 21vw;
  height: 4px;
  background-color: #ff4d5a;
  animation: line 3s alternate 1;
  animation-fill-mode: forwards;
  border-radius: 5px;
}

.rowdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger {
  z-index: 999;
  margin-left: 5vw;
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0;
  }
  70% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(0.1);
  }
}

@keyframes text {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
