@import "./typography.css";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

.rowdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burger {
  z-index: 999;
  margin-left: 5vw;
}
